.tableHeader {
    display: none;
}
.transactionsListTab {
    display: none;
}


.transactionsList {
   
    margin: 0;
    padding: 20px;
    list-style-type: none;
    font-family: "Roboto", sans-serif;
    
}
.transactionsListItem {
    display: flex;
    margin-bottom: 8px;
    justify-content: space-between;
    border-bottom: 1px solid #F5F6FB;
    padding-bottom: 8px;
}
.transactionsListName {
    margin: 0;
    color: #52555F;
    font-size: 12px;
    font-weight: bold;
}
.transactionsListDate {
    margin: 3px 20px 0 0;
    color: #52555F;
    font-size: 8px;
}
.transactionsListType {
    margin: 3px 20px 0 0;
    color: #52555F;
    font-size: 8px;
}
.transactionsListDescription {
    display: flex;
}
.transactionsListValue {
    margin: 0;
    font-size: 12px;
    font-weight: bold;
    color: #E7192E;
    align-content: center;
}
.deleteButton {
    background-image: url("../../assets/trash.svg");
    width: 18px;
    height: 18px;
    border: 0;
    background-color: transparent;
    padding: 0;
    align-self: center;
}
.valueWrapper {
    display: flex;
    gap: 20px;
    justify-content: center;
}

@media screen and (min-width: 768px) {
    .transactionsListSection {
        display: flex;
        justify-content: center;
        margin: 0 32px;
        padding: 0 40px;
    }
    .transactionsListMobile {
        display: none;
    }
    .tableHeader {
       
        display: flex;
        width: 584px;
        padding-right: 40px;
        justify-content: space-around;
        font-family: "Roboto", sans-serif;
        font-size: 12px;
        font-weight: 700;
        background-color: #F5F6FB;
        border-top-left-radius: 30px;
        border-top-right-radius: 30px;
    }
    .transactionsList {
        width: 624px;
        background-color: #FFF;
        border-bottom-right-radius: 30px;
        border-bottom-left-radius: 30px;
        padding: 0;
        padding-top: 13px;
    }
    
    .transactionsListTab {
        display: flex;
        width: 450px;
        font-size: 12px;
        color: #52555F;
    }
    .transactionsListDate {
        font-size: 12px;
        color: #52555F;
        margin: 0;
        margin-left: 42px;
    }
    .transactionsListDescription {
        font-size: 12px;
        color: #52555F;
        margin: 0;
        margin-left: 62px;
    }
    .transactionsListType {
        font-size: 12px;
        color: #52555F;
        margin: 0;
        margin-left: 110px;
    }
    .valueWrapper {
        margin-right: 20px;
    }
}
@media screen and (min-width: 1280px) {
    .tableHeader {
        width: 746px;
        padding: 0;
    }
    .transactionsList {
        width: 746px;
    }
    .transactionsListDate {
        margin-left: 62px;
    }
    .transactionsListDescription {
        margin-left: 104px;
    }
    .transactionsListType {
        font-size: 12px;
        color: #52555F;
        margin: 0;
        margin-left: 150px;
    }
    .valueWrapper {
        width: 120px;
                
    }
}

