.popupContainer {
  width: 288px;
  height: 163px;
  position: relative;
  top: -17px;
  left: -2px;

}

.popup {
    width: 250px;   
    background-image: linear-gradient(rgba(29, 52, 106, 1), rgba(3, 22, 52, 1));
    border-radius: 30px;
    color: rgba(255, 255, 255, 1);
    text-align: left;
    line-height: 20px;
    font-weight: 400;
    font-size: 14px;
    z-index: 1002;
    position: relative;
    display: grid;
    padding: 30px;
    
}
.popup::before {
    content: "";
    position: absolute;
    top: -20px;
    left: 25%;
    transform: translateX(-50%);
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 20px solid rgba(29, 52, 106, 1);
}

@media screen and (min-width: 768px) {
  .popupContainer {
    top: -33px;
    left: 129px;
   }
}

@media screen and (min-width: 1280px) {
  .popupContainer {
    top: 15px;
    left: 569px;
    
  }
}
