.whiteBackground {
  width: 100vw;
  height: 100vh;
  background-color: #ffffff;
  /* */
}
.greyBackground {
  width: 100vw;
  height: 65%;
  background-color: #f5f6fb;
  border-radius: 0 0 0 100px;
  position: relative;
  /* */
}
/* .backgroundAuth {
display: none;
}
.backgroundGuest {
display: none; 
}   */

.multiCabbage {
  background-image: url("../../assets/multiCabbage.png");
  width: 100vw;
  background-repeat: repeat-x;
  height: 232px;
  top: 15%;
  left: 0;
  position: absolute;
}
.coupleCabbage {
  background-image: url("../../assets/coupleCabbage.png");
  width: 183px;
  height: 142px;
  margin-left: 230px;
  margin-top: 60px;
}
